@model inBloom.Models.Home.StudentListModel
@{
    ViewBag.Title = "Index";
}

<h2><i class="icon-list-alt"></i> Student list for selected section</h2>
<div class="separator-line"></div>
@if (TempData.ContainsKey("message"))
{
    <div class="message">@TempData["message"]</div>    
}

<p>
    <label for="Sections">Section:</label>
    @Html.DropDownListFor(x => x.Sections, 
        from s in Model.Sections
        select new SelectListItem()
            {
                Selected = s.Id == Model.SelectedSectionId, 
                Text = s.SectionCode, 
                Value = s.Id
            })
</p>
<br/>
<div style="width: 100%; text-align: right; padding-right: 20px; padding-bottom: 20px;">
    <a href="javascript:goToBoradcast();" title="Sends notification to the selected students." >Broadcast Notification</a>
</div>

<div style="overflow:scroll; height: 600px; width: 100%">
    <table style="margin:auto;">
        <thead>
            <tr>
                <th style="width: 20px;"><input type="checkbox" class="allCheckbox" title="Select all students."/></th>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        @{
            var i = 0;
        }
        @foreach (var s in Model.List)
        {
            <tr class="row@(i)">
                <td><input class="studentCheckbox" type="checkbox" data-studentId="@s.Id" data-row="row@(i)"/>&nbsp;</td>
                <td><i class="student-@(i%4)"></i></td>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td><a href="@Url.Action("NotifyParent", new { studentName = s.FirstName, studentId = s.Id})">Notify Parent</a></td>
            </tr>
            i++;
        }
    
    </table>
</div>

<script type="text/javascript">
    $(document).ready(
        function() {
            $('.studentCheckbox').click(
                function () {
                    var checkbox = $(this);
                    var rowClass = checkbox.attr("data-row");
                    
                    if (checkbox.is(':checked')) {
                        $('.' + rowClass).addClass('highlight');
                    } else {
                        $('.' + rowClass).removeClass('highlight');
                    }
                });

            $('.allCheckbox').click(function() {
                var allCb = $(this);
                var cbs = $('.studentCheckbox');

                if (allCb.is(':checked')) {
                    cbs.each(function() {
                        $(this).prop('checked', true);
                        var rowClass = $(this).attr("data-row");
                        $('.' + rowClass).addClass('highlight');
                    });
                } else {
                    cbs.each(function (item) {
                        $(this).prop('checked', false);
                        var rowClass = $(this).attr("data-row");
                        $('.' + rowClass).removeClass('highlight');
                    });
                }
               
            });
        });

    function goToBoradcast() {
        var url = "@Url.Action("BroadcastNotification")";
        
        var cbs = $('.studentCheckbox');
        var studentIds = "?sids=";
        
        cbs.each(function() {
            var cb = $(this);
            studentIds = studentIds + cb.attr("data-studentId") + ",";
        });

        window.location = url + studentIds;

    }
</script>


<script language="javascript">
    $(document).ready(function() {
        $("#Sections").change(function(e) {
            window.location = "@Url.Action("Index")" + "?sectionId=" + $("#Sections").val();
        });
    });
</script>