@{
    ViewBag.Title = "_layout";
}
@functions
{

    public string GetTeacherImage()
    {
        
        if(!string.IsNullOrEmpty(Request.QueryString["parent"]))
        {
            Session["user_FullName"] = "Mrs. Locust";
            return @Url.Content("~/Content/img/teachers/teacher1.png");
        }
        
        if (Session["user_FullName"].ToString().Contains("Charles"))
        {
            return @Url.Content("~/Content/img/teachers/teacher2.png");
        }
        else
        {
            return @Url.Content("~/Content/img/teachers/teacher1.png");
        }
        
    }

}
<!doctype html>
<html lang="en">    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/css/style.css")' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/css/font-awesome.min.css")' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        <div class="l-sidebar">
            <div class="padding">
                <h2>@Session["user_FullName"].ToString()</h2>
                <div>
                    <img src="@GetTeacherImage()" class="person-img"/>
                    <ul>
                        <li><a href="#"><i class="icon-user"></i> About me</a></li>
                        <li><a href="#"><i class="icon-file-alt"></i> Resume</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="l-divider">
                <h2>Communicator</h2>
            </div>
            <div class="padding">
                <ul class="l-nav">
                    <li><a href="@Url.Action("Index","Home")">Sections</a></li>
                    <li><a href="@Url.Action("ScheduleParentTeacherConference", "Home")">Schedule Teacher Parent Conference</a></li>
                </ul>
            </div>
            <div style="text-align: center; margin-top: 350px;">
                Powered by
                <img src="@Url.Content("~/Content/img/logo.png")"/>
            </div>
        </div>
        <div class="l-main-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
